body {
    height: 100vh;
}

.header img {
    width: 80px;
    height: auto;
}

.top-content img {
    width: 300px;
    height: auto;
}

.card img {
    width: 200px;
    height: auto;
    border: 4px solid blue;
    border-radius: 25px;
}