body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .top-content{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a,
.top-content p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.top-content {
    display: flex;
    padding: 100px 0;
    justify-content: center;
    gap: 16px;
}

.top-content .text {
    width: 500px;
}

.top-content h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.top-content button {
    margin-top: 8px;
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    border-radius: 5px;
    border-style: none;
    padding: 4px 24px;
}

.top-content img {
    width: 300px;
    height: auto;
}

.middle-content {
    color: #1f2937;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.middle-content h2 {
    font-size: 36px;
    font-weight: bolder;
}

.cards {
    display: flex;
    margin: 0 300px;
    justify-content: center;
    gap: 16px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card img {
    width: 200px;
    height: auto;
    border: 4px solid blue;
    border-radius: 25px;
}

.quote-content {
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.bounding-width {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quote-content p {
    margin: 0;
}
.quote-content .author {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-self: flex-end;
    padding-right: 50px;
}